.title {
    text-align: center;
    margin: 70px 0 30px;
}

.title p {
    display: flex;
    gap: 10px;
    justify-content: center;
    color: rgb(3, 151, 3);
    text-transform: uppercase;
}

.title p span {
    font-weight: bold;
}

.title h2 {
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    margin-top: 5px;
    color: #000F38;
}